.page-2{
    margin-top: 200px;
    .text{
        text-align: center;
        h2{
            font-size: 40px;
            color: #42446E;
        }
        b{
            font-weight: 4  00;
            color: #666666;
            font-size: 20px;
        }
    }
}


